# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#folders to ignore
venv/
code/data/
code/eval_results/
code/LMTAD.*
code/results

create_venv_local.sh
code/datasets
code/data
pkdd-15-predict-taxi-service-trajectory-i.zip
